.about {
    padding: 20px 20px;
    background: #F9FAFB;
    text-align: center;
    padding-bottom: 40px;
    &__heading {
        font-size: 3.5rem;
        font-weight: 700;
        margin: 0;
        margin-bottom: 20px;
    }

    &__image-container {
        position: relative;
        width: 800px;
        height: 800px;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
    
    }

    &__image {
        object-fit: cover;
        width: 800px;
        height: 800px;
    }

    &__overlay-text {
        position: absolute;
        top: 35%; 
        left: 50%;
        transform: translateX(-50%);
        width: 80%; 
        color: #fff;
        font-size: 3rem; 
        font-weight: 500;
        line-height: 1.5;
        text-align: left; 
        text-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
}

}